.Products{
    display: flex;
    flex-wrap: wrap;
}

.Product{
    border: 1px solid silver;
    width: fit-content;
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
    background-color: #e7cd8e;
}

.Product small{
    float: right;
    margin-top: -20px;
}

.Title{
    background-color: silver;
    padding: 10px;
    margin-top: 0px;
}